apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  namespace: genx-fx
  labels:
    app: frontend
    tier: frontend
spec:
  type: LoadBalancer
  ports:
  - port: 3000
    targetPort: 3000
    protocol: TCP
    name: http
  selector:
    app: frontend
    tier: frontend
