apiVersion: v1
kind: Service
metadata:
  name: grafana-service
  namespace: genx-fx
  labels:
    app: grafana
    tier: monitoring
spec:
  type: LoadBalancer
  ports:
  - port: 3001
    targetPort: 3000
    protocol: TCP
    name: http
  selector:
    app: grafana
    tier: monitoring
